<%- include('../partials/header') %>

<h1 id="manage">Manage Users</h1>
<table class="manage">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Name</th>
            <th>Email</th>
            <th>Administrator</th>
            <th>Change Priviledge</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(u => { %>
            <tr>
                <td><img height="25vmin" src="<%= u.avatar %>"></img></td>
                <td><%= u.name %></td>
                <td><%= u.email %></td>
                <td><%= u.adminPriv %></td>
                <form id="priv-form" action="/users/<%= u._id %>/update" method="POST">
                    <td><input type="checkbox" name="adminPriv">
                    <button>Submit Change</button></td>
                </form>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>