<%- include('../partials/header') %>

<h1 id="all-surveys">All Surveys</h1>
<table>
    <thead>
        <tr>
            <th>Subject</th>
            <th>Comment</th>
            <th>Rating</th>
            <th>Case Number</th>
        </tr>
    </thead>
    <tbody>
        <% let ratingAvg = 0 %>
        <% let total = 0 %>
        <% cases.forEach(c => { %>
            <% if(c.survey){ %>
                <tr>
                    <td><%= c.subject %></td>
                    <td><%= c.survey.comment %></td>
                    <td><%= c.survey.rating %></td>
                    <td><%= c.caseNum %></td>
                </tr>
                <% ratingAvg = ratingAvg+c.survey.rating %>
                <% total++ %>
            <% } %>
        <% }) %>
        <% ratingAvg = ratingAvg/total %>
    </tbody>
</table>
<h3>Average Rating</h3>
<%= ratingAvg %>



<%- include('../partials/footer') %>